.start h1 {
    font-size: 3.5em;
}

.start h3{
    margin-bottom: 2em;
    color: #ecfa00;
    font-weight: bold;
}

.start p{
    color:white;
    font: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}